################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/two-dimensional-arrays/obj/Debug/net7.0
/two-dimensional-arrays/bin/Debug/net7.0
